In [2]:
import pandas as pd

In [13]:
# Create a simple dataframe
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]])

print(df)

# Change the naming of the columns and rows
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['X', 'Y', 'Z'], columns=['A', 'B', 'C'])

print(df)

# Alternative way to change the naming of the columns and rows
df.columns = ['A', 'B', 'C']
df.index = ['X', 'Y', 'Z']

print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9
   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [14]:
df.info() # Displays a summary of the DataFrame, including data types, non-null counts, and memory usage.

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes

In [15]:
df.describe() # Displays descriptive statistics (mean, median, quartiles, etc.) for numerical columns.

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [19]:
df.nunique() # Shows the number of unique values of all the columns

A    3
B    3
C    3
dtype: int64

In [20]:
df['A'].unique() # Shows the unique values of the specified column

array([1, 4, 7])

In [22]:
df.shape # Shows as how many rows and cols are in this dataframe (rows, cols)

(3, 3)

In [24]:
df.size # Shows the number of elements in the dataframe

9